@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("./assets/GeistFonts/Geist-SemiBold.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
/* =========================
   DESIGN TOKENS (BASE)
========================= */

:root {
    /* Background */
    --background: #0f0f10;
    --surface: #18181b;
    --surface-elevated: #27272a;
    --cursor: default;
    
    /* Text */
    --font-family: "Geist", sans-serif;
  --text-primary: #fafafa;
  --text-secondary: #a1a1aa;
  --text-muted: #71717a;
  

  /* Shadows */
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.25);

  /* Hover Effects */
  --shadow-accent:
    0 0 0 1px rgba(6, 182, 212, 0.08),
    0 10px 30px rgba(6, 182, 212, 0.06);


  /* Borders */
  --border: #27272a;
  --border-hover: #3f3f46;
  --border-color: var(--accent);

  /* Accent */
  --accent: #06b6d4;
  --accent-hover: #22d3ee;
  --accent-active: #0891b2;

  /* Feedback */
  --success: #22c55e;
  --warning: #eab308;
  --error: #ef4444;

  /* Shadows */
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.25);

  /* Radius */
  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
}

/* =========================
   BASE STYLES
========================= */

html {
  font-size: 18px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--text-secondary);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: var(--cursor);
}

/* =========================
   LAYOUT ROOT
========================= */

#root {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;

  display: flex;
  flex-direction: column;

  border-inline: 1px solid var(--border);
}

/* =========================
   TYPOGRAPHY
========================= */

h1,
h2,
h3 {
    font-family: var(--font-family);
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 48px;
  letter-spacing: -1.6px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

h2 {
  font-size: 36px;
  letter-spacing: -0.24px;
  margin-bottom: 8px;

  @media (max-width: 1024px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 28px;
}

/* =========================
   CODE
========================= */

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  font-size: 14px;

  padding: 4px 8px;
  border-radius: 6px;

  background: var(--surface);
  color: var(--text-primary);
}

/* =========================
   UTILS
========================= */

p {
  margin: 0;
}